log/*
tmp/*
storage/*
!/log/.keep
!/tmp/.keep
!/storage/.keep

vendor/
node_modules/
.bundle/
public/assets/

/db/*.sqlite3
/db/*.sqlite3-journal

/config/master.key
yarn-error.log
.byebug_history
.env*
.envrc
config/google_drive_api.json
circleci_local.sh